<% if signed_in? %>
<% provide(:title, 'Find Me') %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/findpost_form' %>
      </section>
      <p>
        <b>Suggested "Skales":</b><br>
        1. Purpose <br>
        2. Location <br>
        3. Time <br>
        4. Goal <br>
        5. Interests <br>
        6. Condition <br>
        8. Qualification <br>
        9. Personality <br>
        10. Additional Information <br><br>
      </p>
    </aside>
    <div class="span8">
      <% if @user.findposts.any? %>
        <h3 class="f_title">Create Findposts (<%= @user.findposts.count %>)</h3>
        <ol class="findposts">
          <%= render @findposts %>
        </ol>
        <%= will_paginate @findposts %>
      <% end %>
    </div>
  </div>
<% else %>
	<div class="center hero-unit">
    <h1>Open New Worlds</h1>

    <h2>
      Find people on the Skale Free Network today!
    </h2>

    <%= link_to "Sign up now!", :new_user_registration , class: "btn btn-large btn-primary" %>
  </div>
<% end %> 