<% if signed_in? %>
  <% provide(:title, 'Find You') %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/search_form' %>
      </section>
    </aside>
    <div class="span8">
      <% if @results.any? %>
        <h3 class="f_title">Findposts (<%= @results.count %>)</h3>
        <ol class="findposts">
          <%= render @results %>
        </ol>
        <%= will_paginate @results %>
      <% end %>
    </div>
  </div>  
<% else %>
	<div class="center hero-unit">
	  <h1>Open New Worlds</h1>

	  <h2>
	    Find people on the Skail Free Network today!
	  </h2>

	  <%= link_to "Sign up now!", :new_user_registration , class: "btn btn-large btn-primary" %>
	</div>
<% end %> 