<br>
<h1 class="cfont"> Welcome to your university! </h1>
<br>
<div>

<div class="homepic">
<%= image_tag("sfu.jpg") %>
</div>
<br>
<br>
<br>
<h4 class="home">Skalefree is a social discovery website designed to connect SFU students.</h4>
<br>
<h4 class="home"><%= link_to "Find people", findyou_path %> or share your thoughts on the <%= link_to "News Feed", wall_path %>.</h4>
<br>
<h4 class="home">Visit our <%= link_to "about", about_path %> page for more information.</h4>
<br>
<br>
<div class="sborder" style="width:200px; margin-left:auto; margin-right:auto; text-align:center;">
  <p>
    <b>Website Statistics</b><br>
    Number of Users: <%= User.all.count %><br>
    Number of Findposts: <%= Findpost.all.count %><br>
    Number of Wallposts: <%= Forumpost.all.count %><br>
    Number of Messages: <%= Message.all.count %><br>
  </p>
</div>
<br>
<br>
<br>