<% provide(:title, 'Search') %>
<div class="row">
  <aside class="span4">
    <% if signed_in? %> 
      <section>
        <%= render 'shared/user_info' %>
      </section>
    <% else %>
      <section>
        <h1>Welcome to SFU!</h1> 
        Visit our <%= link_to "about", about_path %> page for more information.<br><br>
        Search for people below. <br>
        Or <%= link_to "sign up", :new_user_registration%> for access to more features.
        <br><br>
      <section>
    <% end %>
    <section>
      <%= render 'shared/search_form' %>
    </section>
    <p>
      <b>Suggested Criteria:</b><br>
      1. Purpose <br>
      2. Location <br>
      3. Time <br>
      4. Goal <br>
      5. Interests <br>
      6. Condition <br>
      8. Qualification <br>
      9. Personality <br>
      10. Additional Information <br><br>
    </p>
    <p>
      <h1>Website Statistics</h1>
      Number of Users: <%= User.all.count %><br>
      Number of Findposts: <%= Findpost.all.count %><br>
      Number of Messages: <%= Message.all.count %><br>
    </p>
  </aside>
  <div class="span8">
    <h3 class="f_title">Search Findposts</h3>
    <% if @results.any? %>
      <ol class="findposts">
        <%= render @results %>
        <%= paginate @results, :theme => 'twitter-bootstrap' %>
      </ol>
    <% else %> 
      <div class="findposts"><br><br>
        Sorry, your search has 0 results
      </div>
    <% end %>
  </div>
</div>  
