<%= simple_form_for :conversation, url: :conversations do |f| %>
  <%= f.input :recipients, input_html: { value: @target } %>
  <%= f.input :subject, input_html: { value: @reason } %>
  <%= f.input :body %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>