<% provide(:title, 'Conversation') %>
<h1 class="cfont"><%= conversation.subject %></h1>
<div class="spages">
	<ul>
	  <%= content_tag_for(:li, conversation.messages.reverse) do |receipt| %>
		  <div class="m_info">
		    <h5><%= link_to receipt.sender.name, receipt.sender %></h5>
		    <p><%= auto_link(simple_format(receipt.body)) %></p>
		    <span>Posted <%= time_ago_in_words(receipt.created_at) %> ago</span>
		  </div>
	  <% end %>
	  <div class="reply">
			<%= render 'messages/form', conversation: conversation %>
		</div>
	</ul>
</div>
