<li>
  <span class="id"><%= auto_link(findpost.c1) %></span>
  <span class="c1"><%= auto_link(findpost.c2) %></span>
  <span class="c1"><%= auto_link(findpost.c3) %></span>
  <span class="c1"><%= auto_link(findpost.c4) %></span>
  <span class="c1"><%= auto_link(findpost.c5) %></span>
  <span class="c1"><%= auto_link(findpost.c6) %></span>
  <div class="f_info">
    <span>
      Posted <%= time_ago_in_words(findpost.created_at) %> ago
    </span>
    <% if signed_in? %>
      <% if current_user == findpost.user %>
      	<span>
    		  by you | <%= link_to "Delete", findpost, method: :delete,
                                         data: { confirm: "Are you sure?" },
                                         title: findpost.c1 %>
    		</span>
      <% else %>
      	<a href="<%= user_path(findpost.user) %>">
    		</a>
    		<span>
    		  by <%= link_to findpost.user.name, findpost.user %> | Rep: <%= findpost.user.reputation_for(:votes).to_i %> | <%= link_to "Private Message", new_conversation_path( target: findpost.user.name, reason: findpost.c1 ) %>
    		</span>
      <% end %>
    <% else %>
      by <%= findpost.user.name %> | Please <%= link_to "sign in", :new_user_session %>.
    <% end %>
  </div>
</li>