<li>
  <span class="c1"><%= findpost.c1 %></span>
  <span class="c1"><%= findpost.c2 %></span>
  <span class="c1"><%= findpost.c3 %></span>
  <span class="c1"><%= findpost.c4 %></span>
  <div class="f_info">
    <span class="timestamp">
      Posted <%= time_ago_in_words(findpost.created_at) %> ago
    </span>
    <% if current_user %>
    	<span>
  		  by you | <%= link_to "Delete", findpost, method: :delete,
                                       data: { confirm: "Are you sure?" },
                                       title: findpost.c1 %>
  		</span>
    <% else %>
    	<a href="<%= user_path(findpost.user) %>">
  		</a>
  		<span>
  		  by <%= findpost.user.name %> | <%= link_to "View profile", findpost.user %> | <%= link_to "Send Message", '#' %>
  		</span>
    <% end %>
  </div>
</li>