<h3>Welcome to Skalefree!</h3>
<h5>Please enter the courses you're taking for Fall 2013.</h5>
<%= form_for @post, :remote => true do |f| %>
  <div class="field">
    <%= f.hidden_field :c1, :value => "Hello! These are the courses I'm taking for Fall 2013!" %>
    <%= f.label :c2, "Course 1" %>
    <%= f.text_field :c2 %>
    <%= f.label :c3, "Course 2" %>
    <%= f.text_field :c3 %>
    <%= f.label :c4, "Course 3" %>
    <%= f.text_field :c4 %>
    <%= f.label :c5, "Course 4" %>
    <%= f.text_field :c5 %>
    <%= f.label :c6, "Course 5" %>
    <%= f.text_field :c6 %>
  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary", :id => "submitPopUp", :onclick => "close_popup()" %>
<% end %>