<% provide(:title, 'Create') %>
<div class="row">
  <aside class="span4">
    <div class="sborder">
      <%= render 'shared/user_info' %>
    </div>
    <br>
    <div class="sborder">
      <b>Create Findpost</b><br><br>
      <%= render 'shared/findpost_form' %>
    </div>
    <br>
    <div class="sborder">
      <p>
        <b>Suggested Criteria:</b><br>
        1. Purpose <br>
        2. Location <br>
        3. Time <br>
        4. Goal <br>
        5. Interests <br>
        6. Condition <br>
        8. Qualification <br>
        9. Personality <br>
        10. Additional Information <br>
      </p>
    </div>
  </aside>
  <div class="span8">
    <% if @user.findposts.any? %>
      <div class="pHeadings"><h3>Create Findposts (<%= @user.findposts.count %>)</h3></div>
      <ol class="results">
        <%= render @findposts %>
      </ol>
    <% end %>
  </div>
  <div id="paginator">
    <%= paginate @findposts, :theme => 'twitter-bootstrap', :remote => true %>
  </div>
</div>
