<% provide(:title, 'Search') %>
<div class="row">
  <aside class="span4">
    <% if signed_in? %> 
        <div class="sborder">
          <%= render 'shared/user_info' %>
        </div>
    <% else %>
      <div class="sborder">
        <span style="font-size:110%;"><b>Use findposts to meet new people!</b></span><br><br>
        Visit our <%= link_to "help", help_path %> page for more information.<br><br>
        Please <%= link_to "sign up", :new_user_registration%> to create findposts, access profiles, and send messages.<br><br>
        Or search for people below.<br><br>
      </div>
    <% end %>
    <br>
    <div class="sborder">
      <b>Create Findposts</b><br><br>
      <%= button_to "Create", findme_path, :class => "btn btn-large btn-primary"%>
    </div> 
    <br>
    <div class="sborder">
      <b>Search Findposts</b><br><br>
      <%= render 'shared/search_form' %>
    </div>
    <br>
    <div class="sborder">
      <p>
        <b>Website Statistics</b><br>
        Number of Users: <%= User.all.count %><br>
        Number of Findposts: <%= Findpost.all.count %><br>
        Number of Wallposts: <%= Forumpost.all.count %><br>
        Number of Messages: <%= Message.all.count %><br>
      </p>
    </div>
  </aside>
  <div class="span8">
    <h3 class="pHeadings">Findposts</h3>
    <ol class="results">
      <%= render @results %>
    </ol>
  </div>
  <div id="paginator">
    <%= paginate @results, :theme => 'twitter-bootstrap', :remote => true %>
  </div>
</div>  
