<% provide(:title, 'Search') %>
<div class="row">
  <aside class="span4">
    <% if signed_in? %> 
      <section>
        <%= render 'shared/user_info' %>
      </section>
    <% else %>
      <section>
        <h1>Welcome to Skalefree @ SFU!</h1> 
        Visit our <%= link_to "about", about_path %> page for more information.<br><br>
        Please <%= link_to "sign up", :new_user_registration%> to create findposts, access profiles, and send messages.<br><br>
        Or search for people below.<br><br>
      <section>
    <% end %>
    <section>
      <%= render 'shared/search_form' %>
    </section>
    <section>
      <p>
        <b>Website Statistics</b><br>
        Number of Users: <%= User.all.count %><br>
        Number of Findposts: <%= Findpost.all.count %><br>
        Number of Wallposts: <%= Forumpost.all.count %><br>
        Number of Messages: <%= Message.all.count %><br>
      </p>
    </section>
  </aside>
  <div class="span8">
    <h3 class="f_title">Search Findposts</h3>
    <ol class="results">
      <%= render @results %>
    </ol>
  </div>
  <div id="paginatorr">
    <%= paginate @results, :theme => 'twitter-bootstrap', :remote => true %>
  </div>
</div>  
