<% provide(:title, 'Add Schedule') %>
<div class="row">
  <aside class="span4">
    <div class="sborder">
      <%= render 'shared/user_info' %>
    </div>
    <br>
    <div class="sborder">
      <b>Add Class Schedule</b><br><br>
      <%= render 'shared/findpost_form' %>
    </div>
    <br>
  </aside>
  <div class="span8">
    <% if @user.findposts.any? %>
      <h3 class="pHeadings">Add Schedule (<%= @user.findposts.count %>)</h3>
      <ol class="results">
        <%= render @findposts %>
      </ol>
    <% end %>
  </div>
  <div id="paginator">
    <%= paginate @findposts, :theme => 'twitter-bootstrap', :remote => true %>
  </div>
</div>
