<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1><%= @user.name %></h1>
            <% if @user == current_user %>
            	<%= link_to "Edit Profile", edit_profile_path(@user) %>
            <% end %>
            <br>
            <%= pluralize @user.reputation_for(:votes).to_i, "vote" %>
            <br>
            <%= link_to "Up", vote_user_path(@user, type: "up"), method: "post" %>
            | <%= link_to "Down", vote_user_path(@user, type: "down"), method: "post" %>
        </section>
        <div id="traits">
            <ul>
           <%= render 'shared/profile' %>
            </ul>
        </div>
        <div id="about">
            Additional Information: <br><br>
            <%= @profile.about %>
        </div>
    </aside>
</div>