<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1><%= @user.name %></h1>
            <%= pluralize(@user.findposts.count, "findpost") %><br>
            <%= pluralize(@user.forumposts.count, "forumpost") %><br>
            <% if @user == current_user %>
            	<%= link_to "Edit Profile", edit_profile_path(@user) %>
            <% end %>
            <br>
            <strong>Reputation: </strong><%= @user.reputation_for(:votes).to_i %>
            <br>
            <%= link_to "Up", vote_user_path(@user, type: "up"), method: "post" %>
            | <%= link_to "Down", vote_user_path(@user, type: "down"), method: "post" %>
        </section>
        <div id="traits">
            <ul>
           <%= render 'shared/profile' %>
            </ul>
        </div>
        <div id="about">
            <b>Additional Information:</b> <br><br>
            <%= @profile.about %>
        </div>
    </aside>
    <%= link_to 'Send Message', new_conversation_path(target: @user.name), class: "btn btn-large btn-primary" %>
</div>