<%= form_for @findpost, builder: ComboboxFormBuilder do |f| %>
  <div class="field">
  	<%= f.label "Subject" %>
    <%= f.combobox_tag(:c1, options_for_select(["Study", "Friend", "Break", "Games", "Project", "Event", "Textbook", "Sport", "Party", "Music", "Club", "Tutor"]), :list_id => "list") %>
    <%= f.label "Criteria 1" %>
    <%= f.text_field :c2 %>
    <%= f.label "Criteria 2" %>
    <%= f.text_field :c3 %>
    <%= f.label "Criteria 3" %>
    <%= f.text_field :c4 %>
    <%= f.label "Criteria 4" %>
    <%= f.text_field :c5 %>
    <%= f.label "Criteria 5" %>
    <%= f.text_field :c6 %>
  </div>
  <%= f.submit "Create" %>
<% end %>