<%= form_for @findpost, :remote => true, builder: ComboboxFormBuilder do |f| %>
  <div class="field">
  	<%= f.label :c1, 'Semester' %>
    <%= f.combobox_tag(:c1, options_for_select(["Spring 2014", "Fall 2013"]), :list_id => "list") %>
    <%= f.label :c2, 'Course 1 (Follow examples exactly!)' %>
    <%= f.text_field :c2, :placeholder => "ENGL 100" %>
    <%= f.label :c3, "Course 2" %>
    <%= f.text_field :c3, :placeholder => "PSYC 101" %>
    <%= f.label :c4, "Course 3" %>
    <%= f.text_field :c4, :placeholder => "ECON 102" %>
    <%= f.label :c5, "Course 4" %>
    <%= f.text_field :c5, :placeholder => "MATH 103" %>
    <%= f.label :c6, "Course 5" %>
    <%= f.text_field :c6, :placeholder => "PHIL 104" %>
  </div><br>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>