<%= form_for @findpost, :remote => true, builder: ComboboxFormBuilder do |f| %>
  <div class="field">
  	<%= f.label :c1, 'Subject (Ex: Courses Spring 2014)' %>
    <%= f.combobox_tag(:c1, options_for_select(["Courses for Spring 2014", "Study", "Friend", "Break", "Games", "Project", "Event", "Textbook", "Sport", "Party", "Music", "Club", "Tutor"]), :list_id => "list") %>
    <%= f.label :c2, 'Criteria 1 (Ex: engl 100)' %>
    <%= f.text_field :c2 %>
    <%= f.label :c3, "Criteria 2" %>
    <%= f.text_field :c3 %>
    <%= f.label :c4, "Criteria 3" %>
    <%= f.text_field :c4 %>
    <%= f.label :c5, "Criteria 4" %>
    <%= f.text_field :c5 %>
    <%= f.label :c6, "Criteria 5" %>
    <%= f.text_field :c6 %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>