<%= form_for @findpost do |f| %>
  <div class="field">
  	<%= f.label "Subject" %>
    <%= f.text_field :c1 %>
    <%= f.label "Criteria 1" %>
    <%= f.text_field :c2 %>
    <%= f.label "Criteria 2" %>
    <%= f.text_field :c3 %>
    <%= f.label "Criteria 3" %>
    <%= f.text_field :c4 %>
    <%= f.label "Criteria 4" %>
    <%= f.text_field :c5 %>
    <%= f.label "Criteria 5" %>
    <%= f.text_field :c6 %>
  </div>
  <%= f.submit "Create" %>
<% end %>