<%= form_for(@findpost) do |f| %>
  <div class="field">
  	<%= f.label "Subject" %>
    <%= f.text_field :c1 %>
    <%= f.label "Skale 1" %>
    <%= f.text_field :c2 %>
    <%= f.label "Skale 2" %>
    <%= f.text_field :c3 %>
    <%= f.label "Skale 3" %>
    <%= f.text_field :c4 %>
    <%= f.label "Skale 4" %>
    <%= f.text_field :c5 %>
    <%= f.label "Skale 5" %>
    <%= f.text_field :c6 %>
  </div>
  <%= f.submit "Post" %>
<% end %>