<%= form_for @forumpost do |f| %>
  <div class="field">
    <%= f.hidden_field :forum, :id => "wallpost" %>
    <%= f.label :content, "Write a Wallpost" %>
    <%= f.text_field :content %>
  </div>
  <%= f.submit "Create", :onclick => "refresh_search()", :id => "first" %>
<% end %>