<li><b>Gender:</b> <%= @profile.gender %></li>
<li><b>Age:</b> <%= @profile.age %></li>
<li><b>Location:</b> <%= @profile.location %></li>
<li><b>Work:</b> <%= @profile.work %></li>
<li><b>Major/Year:</b> <%= @profile.education %></li>
<li><b>Religion/Beliefs:</b> <%= @profile.philosophy %></li>
<li><b>Interests:</b> <%= @profile.interests %></li>
<li><b>Personality:</b> <%= @profile.personality %></li>