<li><b>Gender:</b> <%= auto_link(@profile.gender) %></li>
<li><b>Age:</b> <%= auto_link(@profile.age) %></li>
<li><b>Location:</b> <%= auto_link(@profile.location) %></li>
<li><b>Work:</b> <%= auto_link(@profile.work) %></li>
<li><b>Major/Year:</b> <%= auto_link(@profile.education) %></li>
<li><b>Religion/Beliefs:</b> <%= auto_link(@profile.philosophy) %></li>
<li><b>Interests:</b> <%= auto_link(@profile.interests) %></li>
<li><b>Personality:</b> <%= auto_link(@profile.personality) %></li>