<li>Gender: <%= @profile.gender %></li>
<li>Age: <%= @profile.age %></li>
<li>Location: <%= @profile.location %></li>
<li>Work: <%= @profile.work %></li>
<li>Education: <%= @profile.education %></li>
<li>Philosophy: <%= @profile.philosophy %></li>
<li>Interests: <%= @profile.interests %></li>
<li>Personality: <%= @profile.personality %></li>