<li>Gender: <%= auto_link(@profile.gender) %></li>
<li>Age: <%= auto_link(@profile.age) %></li>
<li>Location: auto_link(<%= @profile.location) %></li>
<li>Work: <%= auto_link(@profile.work) %></li>
<li>Major/Year: <%= auto_link(@profile.education) %></li>
<li>Religion/Beliefs: auto_link(<%= @profile.philosophy) %></li>
<li>Interests: auto_link(<%= @profile.interests) %></li>
<li>Personality: <%= auto_link(@profile.personality) %></li>
<li>About: <%= auto_link(@profile.about) %></li>