<li>Gender: <%= @profile.gender %></li>
<li>Age: <%= @profile.age %></li>
<li>Location: <%= @profile.location %></li>
<li>Work: <%= @profile.work %></li>
<li>Major/Year: <%= @profile.education %></li>
<li>Religion/Beliefs: <%= @profile.philosophy %></li>
<li>Interests: <%= @profile.interests %></li>
<li>Personality: <%= @profile.personality %></li>
<li>About: <%= @profile.about %></li>