<%= search_form_for @q, :url => search_findposts_path,
                        :html => {:method => :post},
                        :remote => true,
                        builder: Combobox1FormBuilder do |s| %>
  <div class="field">
    <%= s.label :c1_or_c2_or_c3_or_c4_or_c5_or_c6_cont, "Search Findposts" %>
    <%= s.combobox_tag(:c1_or_c2_or_c3_or_c4_or_c5_or_c6_cont, options_for_select(["Study", "Friend", "Break", "Games", "Project", "Event", "Textbook", "Sport", "Party", "Music", "Club", "Tutor"]), :list_id => "list") %><br><br>
    <input type="button" class="btn btn-success" data-toggle="collapse" data-target="#criteria" value="Advanced Criteria">
    <div id="criteria" class="collapse out">
        <br>
        <%= s.label :c2_or_c3_or_c4_or_c5_or_c6_or_c1_cont, "Criteria 1" %>
        <%= s.text_field :c2_or_c3_or_c4_or_c5_or_c6_or_c1_cont %>
        <%= s.label :c3_or_c4_or_c5_or_c6_or_c1_or_c2_cont, "Criteria 2" %>
        <%= s.text_field :c3_or_c4_or_c5_or_c6_or_c1_or_c2_cont %>
        <%= s.label :c4_or_c5_or_c6_or_c1_or_c2_or_c3_cont, "Criteria 3" %>
        <%= s.text_field :c4_or_c5_or_c6_or_c1_or_c2_or_c3_cont %>
    </div><br>
  </div>
  <%= s.submit "Search", class: "btn btn-large btn-primary" %>
<% end %>