<div data-role="collapsible">
  <h3>Search Class Schedules</h3>
  <%= search_form_for @q, :url => search_findposts_path,
                        :html => {:method => :post} do |s| %>                   
    <div class="field">
      <%= s.label :c2_or_c3_or_c4_or_c5_or_c6_or_c1_cont, 'Course 1' %>
      <%= s.text_field :c2_or_c3_or_c4_or_c5_or_c6_or_c1_cont, :placeholder => "ENGL 100" %>
      <%= s.label :c3_or_c4_or_c5_or_c6_or_c1_or_c2_cont, "Course 2" %>
      <%= s.text_field :c3_or_c4_or_c5_or_c6_or_c1_or_c2_cont, :placeholder => "PSYC 101" %>
      <%= s.label :c4_or_c5_or_c6_or_c1_or_c2_or_c3_cont, "Course 3" %>
      <%= s.text_field :c4_or_c5_or_c6_or_c1_or_c2_or_c3_cont, :placeholder => "ECON 102" %>
      <%= s.label :c5_or_c6_or_c1_or_c2_or_c3_or_c4_cont, "Course 4" %>
      <%= s.text_field :c5_or_c6_or_c1_or_c2_or_c3_or_c4_cont, :placeholder => "MATH 103" %>
      <%= s.label :c6_or_c1_or_c2_or_c3_or_c4_or_c5_cont, "Course 5" %>
      <%= s.text_field :c6_or_c1_or_c2_or_c3_or_c4_or_c5_cont, :placeholder => "PHIL 104" %>
      </div>
    <%= s.submit "Search" %>
  <% end %>
</div>