<%= search_form_for @q, :url => search_static_pages_path,
                        :html => {:method => :post},
                        builder: Combobox1FormBuilder do |s| %>
  <div class="field">
    <%= s.label :c1_or_c2_or_c3_or_c4_or_c5_or_c6_cont, "Subject" %>
    <%= s.combobox_tag(:c1_or_c2_or_c3_or_c4_or_c5_or_c6_cont, options_for_select(["Study Group", "Friend", "Class Break", "Games", "Project", "Event", "Textbook", "Sport", "Party", "Music", "Club", "Tutor"]), :list_id => "list") %>
    <%= s.label :c2_or_c3_or_c4_or_c5_or_c6_or_c1_cont, "Criteria 1" %>
    <%= s.text_field :c2_or_c3_or_c4_or_c5_or_c6_or_c1_cont %>
    <%= s.label :c3_or_c4_or_c5_or_c6_or_c1_or_c2_cont, "Criteria 2" %>
    <%= s.text_field :c3_or_c4_or_c5_or_c6_or_c1_or_c2_cont %>
    <%= s.label :c4_or_c5_or_c6_or_c1_or_c2_or_c3_cont, "Criteria 3" %>
    <%= s.text_field :c4_or_c5_or_c6_or_c1_or_c2_or_c3_cont %>
    <%= s.label :c5_or_c6_or_c1_or_c2_or_c3_or_c4_cont, "Criteria 4" %>
    <%= s.text_field :c5_or_c6_or_c1_or_c2_or_c3_or_c4_cont %>
    <%= s.label :c6_or_c1_or_c2_or_c3_or_c4_or_c5_cont, "Criteria 5" %>
    <%= s.text_field :c6_or_c1_or_c2_or_c3_or_c4_or_c5_cont %>
  </div>
  <%= s.submit "Search" %>
<% end %>