<li>
  <span class="id"><%= forumpost.forum %></span><br>
  <span class="c1"><%= forumpost.content %></span><br>
  <div class="f_info">
    <span>
      Posted <%= time_ago_in_words(forumpost.created_at) %> ago
    </span>
    <% if signed_in? %>
      <% if current_user == forumpost.user %>
      	<span>
    		  by you | <%= link_to "Delete", forumpost, method: :delete,
                                         data: { confirm: "Are you sure?" },
                                         title: forumpost.content %>
    		</span>
      <% else %>
      	<a href="<%= user_path(forumpost.user) %>">
    		</a>
    		<span>
    		  by <%= link_to forumpost.user.name, forumpost.user %> | Rep: <%= forumpost.user.reputation_for(:votes).to_i %> | <%= link_to "Send Message", new_conversation_path( target: forumpost.user.name, reason: forumpost.forum ) %>
    		</span>
      <% end %>
    <% else %>
      by <%= forumpost.user.name %> | Please <%= link_to "sign in", :new_user_session %>
    <% end %>
  </div>
</li>