<% provide(:title, 'News Feed') %>
<div class="row">
  <aside class="span4">
    <% if signed_in? %> 
      <div class="sborder">
        <%= render 'shared/user_info' %>
      </div>
    <% else %>
      <div class="sborder">
        <span style="font-size:140%;"><b>Share your thoughts!</b></span><br><br>
        Please <%= link_to "sign up", :new_user_registration%> to post on the news feed, access profiles, and message users.<br><br>
        Or browse the Walls below.<br>
      </div>
    <% end %>
    <br>
    <div class="sborder">
      <b>Post to News Feed</b><br><br>
      <%= render 'shared/wall_form' %>
    </div>
    <br>
    <div class="sborder">
      <h5>You have selected the Wall:<br><br><div id="wall_selection"></div></h5>
      <% if signed_in? %> 
        <%= render 'shared/forumpost_form' %>
      <% end %>
    </div>
  </aside>
  <div class="span8">
    <h3 class="pHeadings">Share Thoughts with Wall <span id="wall_heading"></span></h3>
    <ul class="results">
      <%= render @wall %>
    </ul>
  </div>
  <div id="paginator">
    <%= paginate @wall, :theme => 'twitter-bootstrap', :remote => true %>
  </div>
</div>  
