<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Wall", wall_help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to image_tag("like.png"), "https://www.facebook.com/skalefreenet" %></li>
    </ul>
  </nav>
</footer>