<ul>
		<li><%= link_to "Search", root_path %></li>
		<% if signed_in? %>
			<li><%= link_to "Create", findme_path %></li>
		<% end %>	
			<li><%= link_to "Wall", wall_path %></li>
		<% if signed_in? %>
			<li><%= link_to @unread_count + " Mail", conversations_path %></li>
			<li><%= link_to "Profile", current_user %></li>
		<% end %>
</ul>