<!DOCTYPE html>
<html>
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- 4pby8EforSEIYMf2gYHfbzJNfhg -->
	  <%= favicon_link_tag 'icon.jpg' %>
	  <%= javascript_include_tag "application" %>
	  <script type="text/javascript">
			$(document).bind("mobileinit", function () {
			    $.mobile.ajaxEnabled = false;
			});
		</script>
	  <%= javascript_include_tag "jquery.mobile" %>
	  <%= stylesheet_link_tag    "jquery.mobile.css" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"kiXji1aUCm00ab", domain:"skalefree.net",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=kiXji1aUCm00ab" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
		<div data-role="page">
			<div data-role="header" data-position="fixed">
				<h4 style="margin: 0.6em 10% 0.8em !important" ><%= full_title(yield(:title)) %></span></h4>
				<div data-role="navbar">
					<%= render 'layouts/header' %>
				</div>
			</div>
			<div data-role="content">
		  	<%= yield %>
		  </div>
		  <div data-role="footer" data-position="fixed">
		  	<div data-role="navbar">
		  		<%= render 'layouts/footer' %>
		  	</div>
		  </div>	
		</div>
	</body>
</html>